[Desktop Entry]
Comment=Noir-Dark Look And Feel
Name=Noir-Dark-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Noir-Dark-Global
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1361466,kns://colorschemes.knsrc/api.kde-look.org/1411469,kns://plasma-themes.knsrc/api.kde-look.org/1361472,kns://aurorae.knsrc/api.kde-look.org/1361464,kns://icons.knsrc/api.kde-look.org/1361468,kns://icons.knsrc/api.kde-look.org/1361471,kns://icons.knsrc/api.kde-look.org/1281798,kns://icons.knsrc/api.kde-look.org/1298508,kns://wallpaper.knsrc/api.kde-look.org/1361442,kns://wallpaper.knsrc/api.kde-look.org/1355286,kns://sddmtheme.knsrc/api.kde-look.org/1361460
